<body>
    <div class="tiledBackground">
        <h1>
    <pre>
    오늘은 그냥 평범한 날! 
    오늘하루도 힘차게 살아봐요! 
    </pre>
        </h1>
    </div>
</body>
<style>
    h1{
        font-size: 30pt; font: bold; color: blueviolet; font-family:'Mouse Memoirs', sans-serif; font-style: italic;
        color: blue;
    }
    body{
            background: url(https://img.huffingtonpost.com/asset/5d7089202500008d0004c18c.jpeg?ops=scalefit_630_noupscale) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

</style>