<body>
<h1>
    <pre>
    오늘은 운세가 좋으시네요!! 
    복권을 사보거나 무언가를 시도해 보는 것은 어떨까요?
    </pre>
</h1>
</body>
<style>
    h1{
        font-size: 30pt; font: bold; color: blueviolet; font-family:'Mouse Memoirs', sans-serif; font-style: italic;
    }
    body{
                    background: url(https://media.istockphoto.com/vectors/five-little-pigs-with-chinese-gold-ingot-greetings-from-the-golden-vector-id1079146594) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }


</style>