<body>
<h1>
    <pre>
    "확실한 건, 부정적인 것보다 긍정적인 것이 낫다."
    "못할 것만 같은 일들도 시작하게 되면 하게 된다."
    "당신이 이루고자 하는 것에 시간만 투자한다면 분명 이룰수 있다고 본다.
                                          나는 분명히 그렇게 본다."
    "낙관주의는 성공으로 인도하는 믿음이다. 희망과 자신감이 없으면 아무것도 이루어질 수 없다."
    
    </pre>
    <div>
            <img src="https://i.pinimg.com/474x/88/de/d8/88ded8a13a6d4e992c3b8117616e6880.jpg" height=650 width=500>
        <img src="https://i.pinimg.com/474x/b7/e8/3a/b7e83a0ea5784d5fc5305b642fae9196--irish-blessing-irish-eyes.jpg" height=650>
    </div>

</h1>
</body>

<style>
    h1{
        font-size: 20pt; color: violet; font-family:'Mouse Memoirs', sans-serif; font-style: italic;
    }
    
    body{
        background-color: #D9E5FF;
    }
    
</style>